body {
    background-image: url("jd.jpg");
    margin: 0;
    padding: 20px;
}

.bck-red {
    background-color: rgb(40, 17, 5);
}

.bck-white {
    background-color: rgb(238, 234, 232);
}

.title-page {
    height: 50%;
    width: 50%;
    margin: 05px 380px;
    font-size: 50px;
    border: 25px double rgb(106, 22, 11);
    color: rgb(241, 233, 233);
    border-radius: 40px;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* font-style: "Times New Roman"; */
}

#para-1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 35px 75px;
}

.myform {
    width: 50%;
    margin: 10px 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* width: 100%; */
    font-size: 22px;
    border: 10px solid rgb(90, 16, 16);
}

input {
    text-align: center;
    width: 508px;
    padding: 0;
    font-size: 25px;
    border: 5px solid rgb(17, 53, 67);
    margin: -6px;
    border-radius: 8px;
}

::-webkit-input-placeholder {
    text-align: left;
    font-size: 20px;
    color: rgb(187, 156, 156);
}

select {
    text-align: center;
    width: 308px;
    padding: 0;
    font-size: 25px;
    border: 5px solid rgb(17, 53, 67);
    margin: 0;
    border-radius: 8px;
}

#btn-submit,
#btn-reset {
    text-align: center;
    width: 88px;
    padding: 0;
    font-size: 20px;
    border: 5px solid rgb(17, 53, 67);
    margin: 0;
    border-radius: 8px;
    transition: all 1s ease-in-out .3s;
}

#btn-submit:hover {
    background-color: rgb(185, 176, 176);
    height: 50px;
    width: 100px;
    border-radius: 50px;
    font-size: 20px;
}

#btn-reset:hover {
    background-color: rgb(206, 87, 87);
    height: 50px;
    width: 100px;
    border-radius: 50px;
    font-size: 20px;
}

#btn-reset {
    background-color: red;
}

option {
    font-size: 20px;
}

#output {
    font-size: 25px;
    color: yellowgreen;
    margin: 10px 10px;
    padding: 10px 10px;
}

#pass {
    font-size: 25px;
    color: yellowgreen;
    margin: 10px 10px;
    padding: 10px 10px;
}